#result{
    width: 83%;
    display:inline-block;
    text-align: center;
}

#parentResult{
    text-align: center;
}

.res:nth-child(odd){
    background: lightgray;
}

th, td{
    width:20em;
    border-bottom: gray solid .02em;
}