div#inputDiv{
    width: 83%;
    display: inline-block;
}

#parentInputDiv{
    text-align: center;
}

.iButton{
    margin:.5em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin:0;
}